body {
  background-color: #0c1624;
  margin: auto;
  transition: 750ms;
  margin-top: 8vh;
}

h1 {
  font-size: 3rem;
  font-family: "Rubik", sans-serif;
  /* color: #f4f4f4; */
  color: rgb(170, 195, 224);
  text-align: center;
  /* animation-delay: 0.5s;
    animation-duration: 1s; */
  transition: 750ms;
}

#artists {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.recordWrapper {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  width: 23%;
  padding: 15px;
  height: 660px;
}

.recordWrapper {
  background-color: #fff;
  filter: drop-shadow(2px 6px 10px #00000040);
  border-radius: 20px;
  overflow-y: scroll;
}

#artists img {
  object-fit: cover;
  height: auto;
  max-width: 100%;
  border-radius: 12px;
}

h3.artist-name {
  color: darkslategrey;
  font-size: calc(1rem + 20px);
  font-weight: 600;
  font-family: "Rubik", sans-serif;
}

p.artist-bio {
  color: black;
  font-size: calc(1rem - 2px);
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  overflow-y: scroll;
}
